[submodule "solidity-sdk/lib/forge-std"]
	path = solidity-sdk/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "aurora-solidity-sdk/lib/forge-std"]
	path = aurora-solidity-sdk/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
